html, body, #root {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
}

main {
	background-color: #f5f5f5;
	min-height: 100vh;
}
